
.container{
	width: 722px;
	margin: 0 auto;
	background-color: #F0967B;

}

.container-coder{
	width: 700px;
	margin: 0;
	border: 2px solid black;
	padding:10px;

}

.lorem img {

	border-radius: 100%;
	width: 200px;
	position: relative;
	top: 10px;
	left:220px;
	-webkit-filter: brightness(80%);
	filter: brightness(80%);

}

.lorem img:hover {

	opacity: 0.3;

}

h3{
	text-align: left;
	font-size: 30px;
}
h2
{
	text-align: center;
	font-size: 35px;
}

img{
	max-width: 100%;
	border-color: 2px solid black;
}
.biografia{
	margin-left: 25px;
	margin-right: 25px;
	font-size: 17px;
	text-align: center;
}
.item{
	text-align: left;
	font-size: 20px;
	color: white;
	margin: 25px;
	background-color: #6E6E6E;
	padding: 10px;
	border:1px;
}
.list-imagenes{
	
	text-align: center;
	margin-left: -60px;

	
	
}

.list-imagenes li{
	display: inline-block;
	width: 29%;
	margin: 8px;
	clear: both;
	overflow: hidden;

	
}
.list-imagenes li:hover{
	
opacity: 0.5;

